@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  background-color: #f6f6f6;
  position: relative;
}
.wrapper::before {
  content: "";
  display: block;
  position: absolute;
  height: 66%;
  right: -200px;
  bottom: 62%;
  left: -200px;
  border-radius: 50%;
  background: #3b4256;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.content {
  padding: 35px 0 0 0;
}

.header {
  position: relative;
}
.header__image {
  margin: 0 0 0 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../img/logo.jpg") center no-repeat;
  background-size: cover;
  display: inline-block;
  border: 0.5px solid #000;
}
.header__role {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 80px;
}
.header__role p:first-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #fefefe;
}
.header__role p:nth-child(2) {
  color: #969aa5;
}
.header__text {
  margin: 10px 0 15px 0;
  padding: 12px 5px 0 0;
  border-top: 1.5px solid #9598a3;
  position: relative;
}
.header__text p:first-child {
  color: #fefefe;
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
}
.header__text p:first-child:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f83e56;
  display: inline-block;
  margin: 0 5px 0 0;
  position: absolute;
  left: 5px;
  top: 16px;
}
.header__text p:nth-child(2) {
  color: #969aa5;
  padding: 0 0 0 5px;
}

.main {
  position: relative;
  z-index: 1;
}
.main__modal {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 22px 50px;
}
.main__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 10px 0;
  color: #3c4357;
}
.main__item {
  margin: 30px 0 25px 0;
}
.main__input {
  border-bottom: 1px solid #f93f56;
}
.main__input textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: 14px;
  color: #777c88;
  outline: 0;
  border-radius: 0;
  min-height: 28px;
  resize: none;
  overflow: hidden;
}
.main__buttons {
  margin: 25px 40px;
}
.main__buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__video {
  width: 60px;
  height: 60px;
  background: url("/./img/video.svg") center no-repeat;
  overflow: hidden;
  border: 1px solid #f93f56;
  border-radius: 5px;
  cursor: pointer;
}
.main__video input {
  font-size: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.main__send {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  margin: 0 5px 0 5px;
}
.main__send button {
  display: block;
  width: 100%;
  height: 56px;
  line-height: 56px;
  background: 0 0;
  border: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  border-radius: 7px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #f93e56), to(#fe6561));
  background-image: linear-gradient(to left, #f93e56 0, #fe6561 100%);
  -webkit-box-shadow: 0 2px 6px 0 rgba(50, 50, 50, 0.16);
          box-shadow: 0 2px 6px 0 rgba(50, 50, 50, 0.16);
}
.main__send button::before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
  background-image: url("/img/arrow.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.main__text {
  color: #8e929b;
  display: inline-block;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.main__text p {
  width: 200px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.item__star {
  width: 65px;
}
.item__star path.gray {
  fill: #e6e7ea;
}
.item__star path.red {
  fill: #f93e56;
}
.item__text {
  color: #8e929b;
  text-align: center;
  margin: 4px 0 0 0;
}

.footer {
  color: #8e929b;
  height: 50px;
  border-top: 1px solid #eaebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__text span {
  font-size: 10px;
  text-decoration: underline;
}