// Файл обнуляющих стилей
@import "nullstyle.scss";
$primary-color: #3dc76f;
$hover-color: #00AF80;
body {
	font-family: Roboto,sans-serif;
	letter-spacing: .2px;
    color: #777c88;
    font-size: 14px;
    // font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    min-height: 100vh;
    overflow: hidden;
	background-color: #f6f6f6;
	position: relative;
	display: flex;
	flex-direction: column;
	&::before {
		content: "";
		display: block;
		position: absolute;
		height: 260px;
		width: 200%;
		top: 0;
		left: -50%;
		border-radius: 50%;
		background: $primary-color;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		height: 100px;
		width: 100%;
		top: 0;
		left: 0;
		background: $primary-color;
	}
}
.container{
    max-width: 375px;
    margin: 0 auto;
	flex: 0 1 auto;
}
.content {
	padding: 31.5px 0 0 0;
}
.header {
	position: relative;
	z-index: 1;
		&__image {
			margin: 0 0 0 14px;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			background: url('../img/logo.jpg') center no-repeat;
			background-size: cover;
			display: inline-block;
			// border: 0.5px solid #000;
		}
		&__role {
			display: inline-block;
			position: absolute;
			top: -2px;
			left: 85px;
			p:first-child {
				font-size: 18px;
				font-weight: 700;
				line-height: 26px;
				color: #fff;
			}
			p:nth-child(2) {
				font-size: 12px;
    			opacity: .5;
				color: #fff;
			}
		}
		&__line {
			margin: 0 0 0 14px;
			padding-top: 14px;
			border-bottom: 1px solid rgba(255,255,255,.15);
			max-width: 345.6px;
		}
		&__text {
			margin: 3.5px 0 17px 9px;
			padding: 12px 5px 0 0;
			max-width: 345.6px;
			// border-top: 1px solid rgba(255,255,255,.15);
			position: relative;
			p:first-child {
				color: #fefefe;
				padding: 0 0 0 20px;
				margin: 0 0 16px 0;
				line-height: 16px;
				&:before {
					content: '';
					width: 8px;
					height: 8px;
					border-radius: 50%;
					background-color: #f83e56;
					display: inline-block;
					margin: 0 5px 0 0;
					position: absolute;
					left: 5px;
					top: 16px;
				}
			}
			p:nth-child(2) {
				font-size: 12px;
				color: #fff;
				opacity: .5;
				// color: #969aa5;
				padding: 0 0 0 5px;
			}
		}
}
.main {		
		position: relative;
		top: 0;
		left: 0;
		z-index: 1;
		max-width: 345.6px;
		// box-shadow: 0 0 11px 0 rgb(50 50 50 / 16%);
		margin: 0 auto;
		&__modal {
			box-shadow: 0 0 11px 0 rgb(50 50 50 / 16%);
			background-color: #fff;
			border-radius: 15px;
			padding: 25px 22px 50px;
		}
		&__title {
			font-size: 24px;
			font-weight: 700;
			text-align: center;
			margin: 0 0 10px 0;
			color: #3c4357;
		}
		&__list {}
		&__row {}
		&__item {
            margin: 45px 0 25px 0;
        }
		&__input {
			textarea {
				width: 100%;
				border: none;
				resize: none;
				font-size: 14px;
				color: #777c88;
				outline: 0;
				border-radius: 0;
				min-height: 28px; 
				resize: none;
				overflow: hidden;			
			}
			border-bottom: 1px solid $primary-color;
			margin: 0 0 14px 0;
		}
		&__buttons {
            margin: 25px 0;
        }
		&__buttons-row {
            display: flex;
            justify-content: space-between;
        }
		&__video {
            width: 60px;
            height: 60px;
            background: url('../img/camera.svg') center no-repeat;
			background-size: 40px 40px;
            overflow: hidden;
			border: 1px solid $primary-color;
			border-radius: 5px;
			cursor: pointer;
            input {
				font-size: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
				cursor: pointer;
            }
        }
		&__send {
			flex: 0 1 200px;
			justify-content: center;
			align-items: center;
			margin: 0 5px 0 5px;
			button {				
				display: block;
				width: 100%;
				height: 56px;
				line-height: 56px;
				background: 0 0;
				border: none;
				cursor: pointer;
				position: relative;
				text-decoration: none;
				color: #fff;
				font-weight: 500;
				border-radius: 7px;
				font-size: 14px;
				// text-align: center;
				letter-spacing: .5px;
				// background-image: linear-gradient(to left,#f93e56 0,#fe6561 100%);
				background-color: $primary-color;
				box-shadow: 0 2px 6px 0 rgb(50 50 50 / 16%);
				&:hover {
					background-color: $hover-color;
				}
				&::before {
					content: '';
					// position: relative;
					display: inline-block;
					width: 16px;
					height: 16px;
					margin-right: 10px;
					// top: 50%;
					transform: translateY(2.5px);
					left: 16px;
					background-image: url('../img/send.svg');
					// background-size: 30px;
					// background-repeat: no-repeat;
					// background-position: 50% 50%;
				}
			}
		}
		&__text {
			color: #8e929b;
			// display: inline-block;
			font-size: 12px;
			display: flex;
			
			justify-content: flex-end;
			margin: 4px 0 0 0;
			p{	
				max-width: 200px;			
				a {
					color: #8e929b;
					text-decoration: underline;
				}
			}
		}
}
.item {
		&__row {
			display: flex;
			justify-content: space-around;
		}
		&__star {
			
			width: 55px;
			path {
				cursor: pointer;
			}
			path.gray{
				fill: #e6e7ea;
			}
			path.red{
				fill: $primary-color;
			}
		}
		&__text {
			color: #8e929b;
			text-align: center;
			margin: 4px 0 0 0;
			font-size: 12px;			
		}
}
.footer {
		width: 345.6px;
		margin: 0 auto;
		color: #8e929b;
		height: 80px;
		border-top: 1px solid #eaebec;
		display: flex;
		justify-content: center;
		align-items: center;
		&__text {
			a {
				display: block;
				color: #8e929b;				
				display: flex;
				align-items: center;
				justify-content: center;
			}
			span {
				font-size: 12px;
				text-decoration: underline;
				color: #8e929b;
				
			}
			img {
				align-self: end;
				// background-color: red;
				fill: $primary-color;
				height: 12px;
				margin-left: 6px;
				// transform: translateY(3px);
			}
		}

}
